* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-in-paragraph {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(1px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out, filter 0.9s ease-out;
  will-change: opacity, transform, filter;
}

.fade-in-paragraph.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("arkaplanolucak.png"); 
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;  
  font-family: Arial, sans-serif;
  
  text-align: center;
}

#ikiust {
  opacity: 0%;
  position: fixed;
}

.ust p {
  font-size: 90px;
  font-family: fantasy;
  text-align: center;
  letter-spacing: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 6rem;
  background-color: #00000078;
  /* eski rengi white'dı */
  position: sticky;
  top: 0;
  z-index: 10;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #2e7d32;
  position: relative;
  
}

.nav-links a {
  margin-left: 3rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.03rem;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-links a:hover {
  color: #1dd594fe;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: #6feef5;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background: rgb(1, 6, 51);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  transition: right 1.0s ease;
  z-index: 20;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-weight: 450;
}

.mobile-menu a:hover {
  color: #1dd594fe;
}

.close-btn {
  font-size: 3rem;
  align-self: flex-end;
  cursor: pointer;
  color: #6feef5;
}

.navbar img {
  width: 85px;
  left: 3%;
  position: absolute;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* Resim ve yazı arası boşluk */
  padding: 40px;
  flex-wrap: wrap;
  /* Küçük ekranlarda alt alta geçsin */

}

.container-1 p {
  width: 45%;
  min-width: 300px;
  padding-left: 20px;
  text-align: justify;
  font-size: 20px;
}

.container-1 img {
  width: 45%;
  min-width: 300px;
  border-radius: 20px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;

}

.container-2 p {
  width: 45%;
  min-width: 300px;
  padding-right: 20px;
  text-align: justify;
  font-size: 20px;
}

.container-2 img {
  width: 45%;
  min-width: 300px;
  border-radius: 20px;
}

.container-1 a {
  text-decoration: none;
  color: #0071f2;
  font-weight: 550;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.container-2 a {
  text-decoration: none;
  color: #0071f2;
  font-weight: 550;
  font-size: 30px;
}

.ust img {
  width: 100%;
}

footer {
  background-color: #282828;
  color: #fff;
  padding: 40px 20px;
 
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
  text-align: left;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-social a {
  color: #ccc;
  margin-right: 15px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 14px;
}

.container-3 {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.container-3 img {
  width: 20%;
  ;
  max-width: 360px;

}
#ustust{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  pointer-events: none;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .navbar img {
    width: 90px;
    left: 2.7%;
    position: absolute;

  }

  #ustust {
    opacity: 100%;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    
  }


  .container-1 {
    flex-direction: column;
    text-align: center;
  }

  .container-1 p {
    padding-left: 0;
    width: 90%;
    font-size: 17px;
  }

  .container-1 img {
    width: 100%;
    min-width: 300px;
    border-radius: 20px;
  }

  /**/
  .container-2 {
    flex-direction: column;
    text-align: center;

  }

  .container-2 p {
    padding-left: 0;
    width: 90%;
    font-size: 17px;
  }

  .container-2 img {
    width: 100%;
    min-width: 300px;
    gap: 20px;
    border-radius: 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 20px 0;
  }

  .container-3 {
    opacity: 0%;
  }
 
  
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: none;
}

p {
  color: rgb(184, 184, 184);
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
}





.desc {
    color: rgb(238, 238, 238);
}

h4{
  color: #d6d6d6 ;
  padding-top: 50px ;
  
}

input { 
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    color: #b6b6b6;
    background-color: #00000066;
    border: 2px solid rgba(223, 223, 223, 0.234) ;
    font-size: 14px;
    width: 60%;
}

button {
    cursor: pointer;
}

.doğrulama-btn {
    background: #6767675a; 
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    transition: 0.3s;
}

.doğrulama-btn:hover {
    background: #20a3298c; 
}

.indirme-btn {
    background: #6767675a; 
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: 0.3s;
}

.indirme-btn:hover {
    background: #007bff46; 
}

#result {
    font-weight: bold;
    margin-top: 15px;
}
.açıklama{
  margin-left: auto;
  margin-right: auto;
  
  width: 65%;
}
.soru3 .indirme-btn{
  opacity: 0%;
  pointer-events: none;
}
.öneri{
  font-size: 20px;
  color: #00aab3;
  line-height: 30px;
}
.soru5 .indirme-btn{
  opacity: 0%;
  pointer-events: none;
}
.soru9 .indirme-btn{
  opacity: 0%;
  pointer-events: none;
}
h2{
  color: #00aab3 ;
  border-top: 1px solid #4e4e4e;
  padding-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}
.duyuru{
  color: #ccc;
  font-size: 25px;
}
.duyuru{
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
